extends layout

block content
  h1= title
  p Welcome to #{title}
  
  form(action="data.json" method="post")
    p
      label Link
      input(type="text", name="link")
    p
      label Title
      input(type="text", name="title")
    p
      input(type="submit", value="submit")
    
  ul
    each item in links
      li 
        a(href=item.link) #{item.title}